body {
            background-color: whitesmoke;
        }
        img { 
            width: 20%;
            float: left;
            border: 5px solid #555;
        }
        hr {
            position: relative;
        top: 5px;
        border: none;
        height: 5px;
        width: 100%;
        background: #555;
        margin-bottom: 5px;
        }
        ol > li::marker {
  font-weight: bold;
  font-size: 1.5em;
}
h1{
    margin: auto;
    text-align: center;
}
h2{
    margin: auto;
    text-align: center;
}
h3{
    margin: auto;
    text-align: center;
}